*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height:100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0 ;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: rgb(228,110,110);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px  30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(228,110,110);
    border: 0;
    outline:none ;
    border-radius: 30px;
}

#Login{
    left: 50px;
}
#Register{
    left: 450px;
}
header {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    display: flex;/*flexible gap between text*/
    justify-content: space-between;
    align-items: center;
}
header:hover 
{
background-color: rgb(188, 65, 65);
}
header:hover .nav-link,header:hover #contact,header:hover #support,header:hover span 
{
color: rgba(255, 255, 255, 0.75); 
}

nav {
display: flex;
gap: 50px; /*gap between text*/
}
.nav-link {
text-decoration: none;
color: #000000;
transition: color 0.2s; 
}
.nav-link:hover {
color: #090081; /* Change text color on hover */
}
body{
    background-color: rgb(228,110,110);
}
